# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and acquire TLS certificates
DOMAIN=localhost

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Logging: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO

# Environment: development, testing, production
ENVIRONMENT=development

APP_NAME=Lumiere
STACK_NAME=lumiere-project

# Backend
CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"

# Auth
JWT_SECRET_KEY=changethis
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
POSTGRES_DB=lumiere

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=changethis
REDIS_MAX_CONNECTIONS=50
# seconds before a command times out
REDIS_SOCKET_TIMEOUT=5
# seconds before connection attempt times out
REDIS_SOCKET_CONNECT_TIMEOUT=2
# retry command if socket times out
REDIS_RETRY_ON_TIMEOUT=true

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend
